[package]
name = "deno_cache_dir"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Cache directory logic used in Deno"

[lib]
crate_type = ["cdylib", "lib"]

[features]
wasm = ["wasm-bindgen"]

[dependencies]
anyhow = "1.0.72"
deno_media_type = "0.1.1"
indexmap = { version = "2.0.0", features = ["serde"] }
log = "0.4.19"
once_cell = "1.18.0"
parking_lot = "0.12.1"
ring = "0.16.20"
serde = "1.0.183"
serde_json = "1.0.104"
thiserror = "1.0.44"
url = { version = "2.4.0", features = ["serde"] }
wasm-bindgen = { version = "=0.2.86", optional = true }

[dev-dependencies]
pretty_assertions = "1.4.0"
tempfile = "3.7.1"
